/*
*   BUTTONS
*/
.button:hover {
    .button_bg_hover_gradient {
        width: 100%;
        opacity: 1;
    }
}

.button.is-icon:hover .button-arrow-icon,
.article_link:hover .button.is-icon .button-arrow-icon {
    right: 1rem;
}

/* Feat. Articles Hover */
.feat_article_item_link_overlay:hover + div .button.is-icon .button-arrow-icon {
    right: 1rem;
}

/* Contact Form Submit Button */
.form_button_wrapper:hover {
    .button_bg_hover_gradient {
        opacity: 1;
        width: 100%;
    }
}