/*
*   BUTTONS
*/
.button:hover {
    .button_bg_hover_gradient {
        width: 100%;
        opacity: 1;
    }
}

.button.is-icon:hover .button-arrow-icon,
.article_link:hover .button.is-icon .button-arrow-icon {
    right: 1rem;
}

.button.is-icon.is-link:hover .button-arrow-icon,
.article_link:hover .button.is-icon.is-link .button-arrow-icon {
    right: .25rem;
}

/* Homepage Feat Case Articles Hover */
.article_link:hover .article_link_hover_gradient {
    width: 100%;
    opacity: 1;
}
.article_link:hover .button.is-link {
    color: white;
}

/* Feat. Articles Hover */
.feat_article_item_link_overlay:hover + div .button.is-icon .button-arrow-icon {
    right: 1rem;
}

/* Contact Form Submit Button */
.form_button_wrapper:hover {
    .button_bg_hover_gradient {
        opacity: 1;
        width: 100%;
    }
}