@import url('menu.css');
@import url('faqs.css');
@import url('buttons.css');

/* @import url('form-multistep-calendly.css'); */

/* Text selection highlight */
::selection {
    background-color: var(--color-scheme-1--text-selection);
    color: white;
}

::-moz-selection {
    background-color: var(--color-scheme-1--text-selection);
    color: white;
}

/*
*   Homepage Hero Video
*/
.header33_background-video > video {
    height: 100% !important;
}


/*
*   Homepage Graph Video
*/
.graph-video-section .graph_video_container {
    height: auto;
}
.graph-video-section .graph_video_container video {
    position: static;
    inset: unset;
    background-position: unset;
}

/*
*   Article Links
*/
.w-richtext a {
    color: var(--_primitives---colors--dark-teal);
    text-decoration: underline;
    transition: color 0.25s ease;
}
.w-richtext a:hover {
    color: var(--_primitives---colors--light-teal);
}

/*
*   Article Images
*/
figure img {
    cursor: zoom-in;
}